# Ignoriere alles
*

# Erlaube keine Verzeichnisse
!*/

# Aber behalte das Verzeichnis Pi_Transfer und alles darin
!Pi_Transfer/


# ...außer der Pi_Transfer.ino Datei
!Pi_Transfer/Pi_Transfer.ino

# Behalte die Daten_Auswertung_toggle.py Datei
!Daten_Auswertung_toggle.py
